@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
}

/* rocket theme */
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk.ttf');
  font-display: swap;
}

.stack {
  @apply grid;
}
.stack > * {
  @apply col-start-1 col-end-1 row-start-1 row-end-1;
}
